.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Background {
  background-image: url(../src/image/wp3702621.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.9;
  }
  .back-to-login{
    position: fixed;
    top: 90%;
    left: 85%;
    text-align: center;
    text-decoration: none;
    border-style : solid;
    border-width: 1px;
    border-color :#43425D;
    background-color : #43425D;
    color: white;
    border-radius:5px;
    width: 100px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .before-admin{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .red-block{
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    height : 350px;
    border-style : solid;
    border-color : red;
    background-color : red;
    border-radius:35px;
    width : 17%;
    opacity: 0.92;
    display: inline-table;
    margin-right:50px; 
    transition: 0.3s ease-in-out;
  }
  .red-block:hover{
    border-color : white;
    background-color: white;
    color:red;
  }
  .blue-block:hover{
    border-color : white;
    background-color: white;
    color:#43425D;
  }
  .blue-block{
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    height : 350px;
    border-style : solid;
    border-color : #43425D;
    background-color :#43425D;
    border-radius:35px;
    width : 17%;
    opacity: 0.92;
    display: inline-table;
    transition: 0.3s ease-in-out;
  }

.positionblock{
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);}
  .block{
    text-align: center;
    margin: auto;
    height : 300px;
    border-style : solid;
    border-color : white;
    background-color : white;
    border-radius:20px;
    width : 45%;
    opacity: 0.96;
  }
  .block-register{
    text-align: center;
    margin: auto;
    height : 350px;
    border-style : solid;
    border-color : white;
    background-color : white;
    border-radius:20px;
    width : 45%;
    opacity: 0.96;
  }
  .inputbox{
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 5%;
  }
  .inputnamebox{
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 95%;
    margin-bottom: 7%;
    margin-right: 5%;
  }
  .inputlastnamebox{
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 95%;
    margin-left: 5%;
  }
  .submitlogin{
    text-align: center;
    margin: auto;
    border-style : solid;
    border-width: 1px;
    border-color :#43425D;
    background-color : #43425D;
    color: white;
    border-radius:5px;
    width : 70%;
    padding: 8px 10px;
  }
  .submitsignup{
    text-align: center;
    margin: auto;
    border-style : solid;
    border-width: 1px;
    border-color :#43425D;
    background-color : #43425D;
    color: white;
    border-radius:5px;
    width : 40%;
    padding: 8px 10px;
    margin-bottom: 5%;
  }
  .signuplogin{
    text-align: center;
    margin: auto;
    border-style : solid;
    border-width: 1px;
    border-color :#43425D;
    background-color : white;
    color: black;
    border-radius:5px;
    width : 70%;
    padding: 8px 10px;
  }
  .flex1{
    flex:1;
    text-align: center;
  }
  .flex-container{
    display: flex;
    margin-top: 7%;
  }
  .container{
    width: 50%;
    margin: auto;
  }
.navbar{
    position: fixed;
    height:100vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #43425D;
}
li a.text {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    text-align: left
}

li a.sidemenu:focus {
  background-color: rgb(51, 47, 77);
  color: white;
  border-left: 5px solid #A3A0FB;
}

li a.navbar-active {
    background-color: rgb(51, 47, 77);
    color: white;
}

li a.sidemenu:hover:not(.active) {
    background-color: rgb(51, 47, 77);
    color: white;
    border-left: 5px solid #A3A0FB;
}

.space-span{
  padding-left: 7%;
}

.headermenu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 59px;
  overflow: hidden;
  background-color: #333;
}

.positionY {
  float: right;
  color: white;
  text-align: center;
  transform: translateY(100%);
}

.positionText{
  border-left: 0.5px solid white;
  float: right;
  color: white;
  text-align: center;
  transform: translateY(0%);
}
.header-active {
  background-color: #333;
}
.left{
  padding-left: 15px; 
}
.right{
  padding-right: 20px; 
}
.login-position{
  margin-right: 25px;
}
.hide-link-signup{
  text-decoration: none;
  color: black;
}
.hide-link-login{
  text-decoration: none;
  color: white;
}
.beforeadmin-font{
  padding-top: 10%;
  color: White
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top:30%; 
  margin-bottom:11%;
}
.center-oms {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top:30%;
  margin-bottom:12%;  
}

  @media (max-width: 425px) {
    .block-register{
      width: 85%;
    }
    .block{
      width: 80%;
    }
    .font-md {
      font-size: 10px;
    }
  }
  @media (max-width: 375px) {
    .block{
      width: 80%;
    }
    .submitlogin{
      width: 60%;
      font-size: 12px;
    }
    .signuplogin{
      width: 60%;
      font-size: 12px;
    }
  }

  @media (max-width: 320px) {
    .block{
      width: 80%;
    }
    .submitlogin{
      width: 50%;
      font-size: 9px;
    }
    .signuplogin{
      width: 50%;
      font-size: 9px;
    }
  }